*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body {
    font-family: Verdana, sans-serif;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    background-color: #000000;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 14px;
    background: transparent;
    cursor: pointer;
}

.btn:hover {
    border: 1px solid lightgreen;
    background: lightgreen;
    transition: 1s;
}

.button a {
    padding-top: 20px;
}

.intro {
    width: 100%;
    height: 100vh;
    background-image:  url("web.jpeg");
    background-position: center center;
    color: #ffffff;
    background-size: cover;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.hello {
    height: 400px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
    font-size: 30px;
}

.hello h3 {
    color: lightgreen;
}

.para1 {
    color: lightgreen;
}

.about {
    width: 100%;
}

.img-size .prince {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-bottom: 80px;
}

h2 {
    margin-top: 150px;
    text-align: center;
    margin-bottom: 100px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.prince2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    line-height: 30px;
    font-size: 20px;
}

.prince2 p {
    padding: 0px 40px;
}

.skills {
    background-color: #f0f0f0;
}

.skills h2 {
    padding-top: 50px;
}

.profile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.skills-column {
    flex-basis: 31%;
    background: #ffffff;
    padding: 20px 12px;
    box-sizing: border-box;
    padding-bottom: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
}

h3 {
    text-align: center;
    margin-bottom: 100px;
}

.paragraph {
    line-height: 40px;
    text-align: center;
    padding: 0px 10px;
    font-size: 20px;
}

.project a {
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    border: 1px solid #f0f0f0;
    padding: 12px;
    background: transparent;
    cursor: pointer;
    color: #000000;
}

.project a:hover {
    border: 1px solid lightgreen;
    background: lightgreen;
    color: #fff;
    transition: 1s;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social a {
    margin: 0px 60px;
    padding-top: 60px;
}

.social i {
    font-size: 40px;
    color: #000000;
}

#twt:hover{
    color: rgb(85, 119, 212);
    transition: 0.5s;
}

#git {
    color: #000;
}

#git:hover {
    color: darkgrey;
    transition: 0.5s;
}

#ld:hover {
    color: blue;
    transition: 0.5s;
}

#ml:hover {
    color: #f0f0f0;
    transition: 0.5s;
}



@media(max-width: 769px) {

    body {
        background-color: dimgray;
        color: #ffffff;
    }

    .hello {
        font-size: 18px;
        width: 100%;
    }

    .btn {
        font-size: 12px;
        padding: 8px 12px;
    }

    .prince2 {
        flex-direction: column;
        font-size: 18px;
        padding: 0px 30px;
        line-height: 25px;
        width: 100%;
    }

    .para2 {
        color: #ffffff;
    }

    .row {
        flex-direction: column;
    }

    .skills-column {
        background-color: dimgray;
    }

    h2 {
        color: #000000;
    }

    .prince{
        height: 100px;
        width: 100px;
        margin-bottom: 50px;
        margin-left: 40px;
    }

    .project a {
        margin: 50px 100px 0px 100px;
    }

    .social a {
        margin: 0px 20px;
        color: #ffffff;
    }

}